.aprobado {
    background-color: #E9FCFA;
    border: 1px dashed #006600;
    padding: 8px;
    margin-bottom: 10px;
}

.rechazado {
    background-color: #FFEDED;
    border: 1px dashed #FA206A;
    padding: 8px;
    margin-bottom: 10px;
}

/* leccion 7*/

.div_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #002640;
    opacity: .80;
    -webkit-opacity: .8;
    -moz-opacity: .8;
    filter: alpha(opacity=80);
    z-index: 820;
}

.div_contenido {
    background-color: #ecf0f5;
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;
    display: none;
    height: auto;
    margin-left: 2%;
    margin-right: 2%;
    left: 0;
    right: 0;
    padding: 10px;
    position: absolute;
    top: 10%;
    width: auto;
    min-height: 90%;
    z-index: 830;
}
